@media (max-width: 1024px) {

    .titulos-formatos h2{
        font-size: 20px;
    }
    .contactolinksgrid{
        color: $color-principal;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 75px 75px 75px 75px 1000px;

    }

    .videos{
        @include flex (column, nowrap, center, center, 5px)
        }
}