$bg-header: rgb(37, 3, 51);
$bg-principal: #4200FF;
$separadores: rgba(186, 133, 247, 0.178);
$color-principal: white;
$color-secundario: rgb(67, 0, 190);
$color-terciario: black;
$remarcado-principal: rgb(213, 176, 243);