header{
    background-color: $bg-header;
    width: 100%;
    height: 10.9375rem;
    border-bottom: $separadores .625rem solid;
    @include flex (column, nowrap, center, center, .625rem);

    h1{
        padding-top: .625rem;
        padding-bottom: .625rem;
        text-align: center;
        justify-content: center;
        color: $color-principal;
        text-shadow: $color-terciario .125rem .125rem;
        font-size: 2.25rem;
    }

    h3{
        justify-content: center;
        text-align: center;
        color: $color-principal;
        text-shadow: $color-terciario .125rem .125rem;
        font-size: 1.25rem;
    }

}