main{
    background-color: $bg-principal;
    width: 100%;
    
    h2{
    color: $color-principal;
    margin-bottom: .625rem;
    text-transform: capitalize;
    padding-left: 1.875rem;
    padding-top: .9375rem;
    font-size: 1.5625rem;
        }

.presentacion-main{
    background-color: rgb(58, 8, 87);
    width: 100%;
    height: 250px;
    opacity: 75%;
    @include flex (column, wrap, center, center, .9375rem);
    margin: 15px 0px;
    h3{
        color: $color-principal;
        padding: 5px 15px 5px 15px;
        font-size: map-get($font-size , xl );
    } 
    }
    
}
