.contactolinksgrid{
    color: white;
    @include grid(1fr 33% 1fr, repeat 5fr, center, center, .9375rem);
    a{
        text-decoration: none;
        color: white;
        }
    }

.txt{
    text-align: left;
    justify-content: left;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 1.5625rem 1.5625rem;
}        
.txt1{
    text-align: left;
    justify-content: left;
    grid-column: 2/3;
    grid-row: 1/4;
    padding: 1.5625rem 1.5625rem;
}
.linkscontacto{
    text-align: left;
    justify-content: left;
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 1.5625rem 1.5625rem;
    button{
        background-color: #7949ff;
        width: 12.5rem;
        height: 3.125rem;
    }
}
.txt2{
    text-align: left;
    justify-content: left;
    grid-column: 2/3;
    grid-row: 4/5;
    padding: 3.125rem 1.5625rem;
}        
.linkscontacto1{
    text-align: left;
    justify-content: left;
    grid-column: 3/4;
    grid-row: 4/5;
    padding: 3.125rem 1.5625rem;
    button{
        background-color: #7949ff;
        width: 9.375rem;
        height: 3.125rem;
    }
}