main{
    background-color: $bg-principal;
    width: 100%;
    
    h2{
    margin-bottom: .625rem;
    color: $color-principal;
    text-transform: capitalize;
    padding-left: 1.875rem;
    padding-top: .9375rem;
    font-size: 1.5625rem;
        }

.presentacion-main{
    background-color: rgb(58, 8, 87);
    width: 100%px;
    height: 150px;
    opacity: 75%;
    h2{
        color: $color-principal;
        padding: 5px;
        font-size: map-get($font-size , xl );
        text-align: left;
        justify-content: left;

    }
    h3{
        color: $color-principal;
        padding: 5px;
        font-size: map-get($font-size , xl );
        text-align: left;
        justify-content: left;
    }
}

}