    .contactolinksgrid{
        color: $color-principal;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 4.6875rem 4.6875rem 4.6875rem 4.6875rem 4.6875rem;
            a{
            text-decoration: none;
            color: $color-principal;
            }
    }
    
    .txt{
        text-align: left;
        justify-content: left;
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 1.5625rem 1.5625rem;
    }
    
    .txt1{
        text-align: left;
        justify-content: left;
        grid-column: 2/3;
        grid-row: 1/3;
        padding: 1.5625rem 1.5625rem;
    }
    
    .linkscontacto{
        text-align: left;
        justify-content: left;
        grid-column: 3/4;
        grid-row: 2/4;
        padding: 25px 25px;
    }
    
    .txt2{
        text-align: left;
        justify-content: left;
        grid-column: 2/3;
        grid-row: 4/5;
        padding: 3.125rem 1.5625rem;
    }
    
    .linkscontacto1{
        text-align: left;
        justify-content: left;
        grid-column: 3/4;
        grid-row: 4/6;
        padding: 3.125rem 1.5625rem;
    }
    
