nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: .9375rem;
}
nav ul li a{
    text-decoration: none;
    color: $remarcado-principal;
}
nav ul li{
    &:hover{
        transform: scale(1.1);
        background-color: $bg-header;
        text-decoration:underline;
    }
}